/*
    Theme Name: Notepad Chaos
    Theme URI: http://www.notepadchaos.com
    Description: Notepad Chaos is a wordpress theme by <a href="http://www.evaneckard.com">Evan Eckard</a>
    Version: 2.0
    Author: Evan Eckard
    Author URI: http://www.evaneckard.com/
*/


body {
	background:url(images/page-back.gif) repeat-x #3f808a;
	margin:0;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}



#outer {
	background:url(images/outer-back.jpg) no-repeat top center;
}
#container {
	width:960px;
	margin:0 auto;
	position:relative;
	height:239px;
}

/* search form */

#search {
	position:absolute;
	text-align:left;
	width:280px;
	left:636px;
	top:7px;
	z-index:100;
}
#search form {
	padding:0;
	margin:0;
}
#search .txtField {
	border:1px solid #fff;
	width:198px;
	margin:0;
	padding:3px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(images/search-back.gif) transparent;
}
#search .btnSearch {
	border:1px solid #fff;
	color:#fff;
	margin:0;
	padding:2px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	background:url(images/btn-back.gif) transparent;
}


/* blog title */

#title {
	position:absolute;
	top:144px;
	left:96px;
	color:#fff;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	width:370px;
	overflow:hidden;
}
#title h2 {
	color:#fff;
	font-size:20px;
	margin:0 0 2px;
}
#title a {
	color:#fff;
	text-decoration:none;
}
#title a:hover {
	color:#fff;
	text-decoration:none;
	border-bottom:1px solid #e7d8cf;
}


/* content */

#content {
	background:url(images/notepad-back.gif) repeat-y;
	width:870px;
	margin:0 auto;
	padding:0 20px 0 70px;
}
#content blockquote {
	padding:0 0 0 30px;
	background:url(images/blockquote.gif) no-repeat 0 50%;
}
#content .col01 {
	float:left;
	width:410px;
	font-size:12px;
	line-height:18px;
}
#content .col01 h3 {
	font-size:24px;
	line-height:28px;
	font-weight:normal;
	font-family: Times New Roman, Times, Georgia, serif;
	margin:0;
	padding:0 0 10px;
	background:url(images/line.gif) repeat-x bottom;
}
#content .cat-title {
	font-size:22px;
	line-height:28px;
	font-weight:normal;
	font-family: Times New Roman, Times, Georgia, serif;
	color:#F63003;
	margin:0 0 20px;
	padding:0 0 10px;
	background:url(images/line.gif) repeat-x bottom;
}
#content .col01 h4 {
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	font-family: Times New Roman, Times, Georgia, serif;
	margin:0;
	padding:0 0 16px;
	background:url(images/line.gif) repeat-x bottom;
}
#content .col01 h3 a {
	color:#000;
	text-decoration:none;
}
#content .col01 h3 a:hover {
	background-color:#f4f0db;
}
#content .col01 .post {
	padding-bottom:30px;
}
#content .col01 .thumbnail {
	float:right;
	margin:10px 0 10px 10px;
}
#content .col01 .meta {
	font-size:11px;
	text-align:right;
	background:url(images/line.gif) repeat-x;
	padding-top:8px;
}
#content .col01 .post-inner {
	position:relative;
}
#content .col01 .post-inner .date-tab {
	position:absolute;
	top:-20px;
	left:-95px;
	height:64px;
	width:83px;
	background:url(images/date-tab.gif) no-repeat;
}
#content .col01 .thumbnail {
	float:right;
	margin:12px 0 12px 12px;
}
.month {
	text-align:right;
	display:block;
	padding:6px 16px 6px 0;
	font-size:11px;
}
.day {
	text-align:right;
	display:block;
	padding:6px 16px 2px 0;
	font-size:18px;
	font-weight:bold;
}
#content .col01 .post-inner a {
	color:#000;
	position:relative;
	text-decoration:none;
	border-bottom:1px solid #868585;
	background:#f4f0db;
}
#content .col01 .post-inner a:hover {
	color:#000;
	text-decoration:none;
	border-bottom:1px solid #000;
	background:#fffbc1;
}
#content .col01 .meta a {
	color:#000;
	text-decoration:none;
	border-bottom:1px solid #868585;
}
#content .col01 .meta a:hover {
	color:#000;
	text-decoration:none;
	border-style:none;
}
.side-columns {
	float:right;
	width:440px;
	font-size:12px;
	line-height:18px;
}

/* column 2 */

#content .col02 {
	float:left;
	width:210px;
	font-size:11px;
	line-height:16px;
}
#content .col02 .pages {
	width:212px;
	background:url(images/pages-back.gif) repeat-y;
}
#content .col02 .pages ul {
	padding:0;
	margin:0;
}
#content .col02 .pages ul li {
	font-size:11px;
	line-height:18px;
	list-style:none;
	padding:0;
	margin:0;
}
#content .col02 .pages-bottom {
	width:188px;
	height:62px;
	background:url(images/pages-bottom.gif) no-repeat left bottom;
	padding:12px 12px 0;
	font-size:11px;
	text-align:right;
}
#content .col02 .pages ul li .listMeta {
	font-size:10px;
}
#content .col02 .pages ul li a {
	color:#21565E;
	border-top:1px solid #FFE5BE;
	display:block;
	width:170px;
	margin:0 auto;
	padding:4px 0 4px 25px;
	background:url(images/bullet-postit.gif) no-repeat 5px 8px;
}
#content .col02 .pages ul li a:hover {
	text-decoration:none;
	color:#000;
	background:url(images/bullet-postit-on.gif) no-repeat 5px 8px #ff5092;
}

#content .col02 .categories-upper {
	height:124px;
	background:url(images/categories-upper.gif) no-repeat;
}
#content .col02 .categories {
	background:url(images/categories-back.gif) repeat-y;
}
#content .col02 .categories ul {
	margin:0;
	padding:0;
}
#content .col02 .categories ul li {
	font-size:11px;
	line-height:18px;
	list-style:none;
}
#content .col02 .categories ul li a {
	color:#21565E;
	margin:0 auto;
	display:block;
	width:170px;
	padding:4px 0 4px 25px;
	background:url(images/bullet-note.gif) no-repeat 5px 8px;
}
#content .col02 .categories ul li a:hover {
	text-decoration:none;
	color:#000;
	background:url(images/bullet-postit-on.gif) no-repeat 5px 8px #ff5092;
}
#content .col02 .categories-btm {
	height:68px;
	background:url(images/categories-btm.gif) no-repeat;
}


/* column 3 */

#content .col03 {
	float:right;
	width:210px;
	font-size:11px;
	line-height:16px;
	padding:0 0 0 10px;
}
#content .col03 .recent-posts {
	width:212px;
	background:url(images/postitBack.gif) repeat-y;
}
#content .col03 .recent-posts ul {
	padding:0;
	margin:0;
}
#content .col03 .recent-posts ul li {
	font-size:11px;
	line-height:18px;
	list-style:none;
	padding:0;
	margin:0;
}
#content .col03 .recent-posts ul li .listMeta {
	font-size:10px;
}
#content .col03 .recent-posts ul li a {
	color:#21565E;
	border-top:1px solid #ffffbe;
	display:block;
	width:170px;
	margin:0 auto;
	padding:4px 0 4px 25px;
	background:url(images/bullet-postit.gif) no-repeat 5px 8px;
}
#content .col03 .recent-posts ul li a:hover {
	text-decoration:none;
	color:#000;
	background:url(images/bullet-postit-on.gif) no-repeat 5px 8px #ff5092;
}
#content .col03 .postit-bottom {
	width:188px;
	height:62px;
	background:url(images/postit-bottom.gif) no-repeat;
	padding:12px 12px 0;
	font-size:11px;
	text-align:right;
}
#content .col03 .postit-bottom a {
	color:#21565E;
}
#content .col03 .postit-bottom a:hover {
	color:#21565E;
	text-decoration:none;
}
#content .col03 .about-box {
	background:url(images/txt-what.gif) no-repeat 10px 5px;
	padding:30px 10px 20px;
	font-family: Tahoma, Arial;
	font-size:12px;
	line-height:18px;
}

#content .col03 .about-box ul {
	margin:0;
	padding:0;
}
#content .col03 .about-box ul li {
	font-size:11px;
	line-height:18px;
	list-style:none;
}
#content .col03 .about-box ul li a {
	color:#21565E;
	margin:0 auto;
	display:block;
	width:170px;
	padding:4px 0 4px 25px;
	background:url(images/bullet-note.gif) no-repeat 5px 8px;
}
#content .col03 .about-box ul li a:hover {
	text-decoration:none;
	color:#000;
	background:url(images/bullet-postit-on.gif) no-repeat 5px 8px #ff5092;
}









#content .col03 .links {
	background:url(images/txt-friends-links.gif) no-repeat 50% 8px;
	padding:30px 10px 20px;
}
#content .col03 .links ul {
	margin:0;
	padding:0;
}
#content .col03 .links ul li {
	font-size:11px;
	line-height:18px;
	list-style:none;
	background:url(images/line-inner.gif) no-repeat bottom;
}
#content .col03 .links ul li a {
	color:#21565E;
	margin:0 auto;
	display:block;
	width:186px;
	padding:3px 0;
}
#content .col03 .links ul li a:hover {
	text-decoration:none;
	color:#000;
}

#content .col03 .side-meta {
	background:url(images/txt-misc-debris.gif) no-repeat top right;
	padding:10px 20px 20px;
}
#content .col03 .side-meta ul {
	margin:0;
	padding:0;
}
#content .col03 .side-meta ul li {
	font-size:10px;
	line-height:14px;
	list-style:none;
}
#content .col03 .side-meta ul li a {
	color:#21565E;
	margin:0 auto;
	display:block;
	width:186px;
	padding:3px 0;
}
#content .col03 .side-meta ul li a:hover {
	text-decoration:none;
	color:#000;
}



/* dynamic sidebar */

#content .widget {
	display:block;
	padding:10px 20px;
	background:url(images/dynamic-back.jpg) repeat-y;
	border:1px solid #d4d4d4;
}

/* image handling */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}

.alignright {
	float: right;
}

.alignleft {
	float: left
}


/* footer */

#footer-holder {
	width:960px;
	margin:0 auto;
	position:relative;
	background:url(images/footer.jpg) no-repeat;
	min-height:259px;
}
#footer-holder .footer {
	float:right;
	width:520px;
	font-size:11px;
	padding:36px 110px 0 0;
	line-height:16px;
	color:#000;
	height:60px;
	overflow:hidden;
}
#footer-holder .footer a {
	color:#000;
}
#footer-holder .footer a:hover {
	color:#000;
	text-decoration:none;
}

#footer-holder .smashing a {
	width:32px;
	height:32px;
	position:absolute;
	top:35px;
	left:869px;
	font-size:11px;
	text-indent:-400px;
	z-index:102;
	overflow:hidden;
	background:url(images/logo-smashing.gif) no-repeat 0 0;
}
#footer-holder .smashing a:hover {
	background:url(images/logo-smashing.gif) no-repeat 0 -32px;
}
#footer-holder .rss a {
	width:49px;
	height:51px;
	position:absolute;
	top:58px;
	left:273px;
	font-size:11px;
	text-indent:-400px;
	z-index:103;
	overflow:hidden;
	background:url(images/icon-rss.gif) no-repeat 0 0;
}
#footer-holder .rss a:hover {
	background:url(images/icon-rss.gif) no-repeat 0 -51px;
}
#footer-holder .evaneckard a {
	width:37px;
	height:37px;
	position:absolute;
	top:74px;
	left:867px;
	font-size:11px;
	text-indent:-400px;
	z-index:102;
	overflow:hidden;
	background:url(images/icon-evaneckard.gif) no-repeat 0 0;
}
#footer-holder .evaneckard a:hover {
	background:url(images/icon-evaneckard.gif) no-repeat 0 -37px;
}


/* next previous */

.previous a {
	float:left;
	width:93px;
	height:33px;
	text-indent:-400px;
	background:url(images/link-older.gif) no-repeat 0 0;
	overflow:hidden;
}
.previous a:hover {
	background:url(images/link-older.gif) no-repeat 0 -33px;
}
.next a {
	float:right;
	width:93px;
	height:33px;
	text-indent:-400px;
	background:url(images/link-newer.gif) no-repeat 0 0;
	overflow:hidden;
}
.next a:hover {
	background:url(images/link-newer.gif) no-repeat 0 -33px;
}


/* comment styles */

.comments, .name, .email, .website, .txt-email-sub, .txt-website-example {
	display:block;
	text-indent:-800px;
	font-size:10px;
	overflow:hidden;
	margin:0;
	padding:0;
}
.comments {
	height:27px;
	background:url(images/txt-your-comment.gif) no-repeat;
}
.avatar {
	float:left;
	clear:left;
}
.comment-txt {
	width:350px;
	float:right;
	clear:right;
}
.name, .email, .website {
	width:80px;
	float:left;
	margin-right:12px;
	clear:left;
}
.name {
	height:30px;
	background:url(images/txt-name.gif) no-repeat top right;
}
.email {
	height:30px;
	background:url(images/txt-email.gif) no-repeat top right;
}
.website {
	height:30px;
	background:url(images/txt-website.gif) no-repeat top right;
}
.txt-email-sub {
	height:20px;
	background:url(images/txt-email-sub.gif) no-repeat 90px 0;
	clear:both;
}
.txt-website-example {
	height:20px;
	background:url(images/txt-site-example.gif) no-repeat 90px 0;
	clear:both;
}
#commentform {
	padding:0;
	margin:0;
}
#commentform .comment-field {
	border:1px solid #939393;
	width:290px;
	margin:0;
	padding:3px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#fff;
	float:left;
}
#commentform .comment-box {
	border:1px solid #939393;
	width:380px;
	margin:0 0 10px;
	padding:3px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#fff;
}
#commentform .btnComment {
	border:1px solid #fff;
	color:#fff;
	margin:0;
	padding:2px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:14px;
	background:url(images/btn-back.gif) transparent;
	float:left;
	clear:left;
}


/* comment list */

.commentlist {
	margin:20px 0;
	padding:0;
}
.commentlist li {
	padding:12px 0;
	background:url(images/line-inner.gif) no-repeat bottom;
	font-size:12px;
	line-height:20px;
	list-style:none;
}
.commentlist li a {
	color:#000;
	position:relative;
	text-decoration:none;
	border-bottom:1px solid #868585;
	background:#f4f0db;
}
.commentlist li a:hover {
	color:#000;
	text-decoration:none;
	border-bottom:1px solid #000;
	background:#fffbc1;
}
.commentdate {
	display:block;
	padding:0 0 6px;
	font-size:10px;
}
.commentlist li cite {
	font-weight:bold;
	font-style:normal;
}