/****IN application.less *******/
/*******Define all constants on top *****/

//@import "utils/_aceVariables.less";
@import "utils/_variables.less";
//@import "utils/_utilities.less";
@import "utils/_header.less";
@import "utils/_editor.less";
@import "utils/_mindMap.less";
@import "utils/_footer.less";
@import "utils/_rectangles.less";

.body {
    background-color: @body-color;
    margin: 0;
    padding: 10;
    overflow: hidden;

}

html {
    margin: 0;
    padding: 0;

}

pre {
    background-color: none;
    padding: 0px;
    .rounded-bottom-corners_by_param(4px, 4px, 4px, 4px);
}


/************Delete later? Depending on the layout view ***************/

.thumb-dribble {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    background-color: @vido-grid-bg-color;
    border-radius: 5px;
    margin: 1em 1em 2em 1em;
}

.thumb {
    float: left;
    margin: 0.8em 0.8em 0.8em 0.8em;
}


