.editorPreview {
    clear:both;
}

.editorial_settings {
   overflow:auto;
}


.previewSettings {
    background-color: @preview-bg-color;
    display: inline-block;
    float : left;
    padding: 0px 10px 0px 10px;
    .rounded-bottom-corners_by_param(4px, 4px, 4px, 4px);
    .editorial_settings;
    margin: @top-editor-height 12px 0px 11px;
    width:100%;
}

.preview_panel_settings{
    overflow:auto;
}

#editor1 {
    width:100%;
    margin: @top-editor-height 0px 0px 0px;
}

#preview {
    .previewSettings;
    overflow:auto;
}

#previewWithMindMap {
    .previewSettings;
    overflow:auto;
}


/*
#editor{
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;

    .ace_gutter {
        .rounded-bottom-corners_by_param(3px, 0px, 3px, 0px);
    }
    .ace_sb {
        display: none;
    }
    .ace_content {
        .rounded-bottom-corners_by_param(3px, 0px, 3px, 0px);
    }
    .ace_scroller {
        padding-left: @ace_text_area_padding;
        .rounded-bottom-corners_by_param(0px, 3px, 0px, 3px);
    }
    .ace_print_margin_later {
        display: none;
    }
}
*/

