#footer {
    bottom:0;
    height : @footer-height;
    position:relative;
    vertical-align : center;
    .inline-list {
        color : white;
        font-size : 75%;
        list-style: none;

        .inline-list-item {
            float: left;
            margin: 1em 1em 1em 1em;
        }
    }

}
