
/***************** The search button for onfocus/off focus *******/
@halfLings : "/img/glyphicons-halflings.png";
@halfLings-white : "/img/glyphicons-halflings-white.png";

.header-Margin-Vertical {
    margin : 5px 0px 5px 0px;
    padding: 0px 10px 0px 0px;
}

.navbar {
    background-color: @body-color;
    .rounded-bottom-corners_by_param(4px, 4px, 4px, 4px);
    padding: 5px 0px 0px 0px;
    .navbar-inner {
        background-color: transparent;
        background-image: none;
        .navbar-margin {
            margin-right: 25px;
        }
    }
}



.navbar-search .search-query {
    padding-left: 29px;
    display: none;   /**hide it for now**/

}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
    background-image: url(@halfLings-white);
    .header-Margin-Vertical;
    display: none;
}
.search-query:focus + .icon-search {
    background-image: url(@halfLings);
    display: none;
}

.headerButtons {
    display:inline-block;
    .header-Margin-Vertical;
    margin-left: 25px;
}

.headerLineItems {
    padding-left: 1em;
}

/*
#header-doc-options {
    .header-Margin-Vertical;
    display: inline-block;
    margin-left: 11px;
}
*/

#acedropdown {
    display: inline-block;
    .header-Margin-Vertical;
}


.docButton {
    display:inline;
    position: relative;
    z-index: 999;
}

.docButton:hover {
    color: #b00 !important;
    text-shadow: 0 0 1px rgba(255,0,0,0.45) !important;
}

#search_text {
    padding-right: 25px;
}


#downloadify {
    float: right;
}