/***Something goes here ****/

/******Sample from http://bl.ocks.org/1249394 ****/

@font-face {
    font-family: "minmapFonts";
    src: url('font/webFonts/English.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "HumorSans";
    src: url('../font/webFonts/Humor-Sans.ttf');
}

@font-face {
    font-family: "xkcd-font";
    src: url('../font/webFonts/xkcd.ttf');
}

.font-family-EnglishMM {
    font-family: 'minmapFonts',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-family-xkcd {
    font-family: 'xkcd-font',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-family-humorSans {
    font-family: 'HumorSans',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
}


circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

text {
    font-size: 12px;
}



path.link {
    fill: none;
    stroke: sandybrown;
    stroke-width: 1.5px;
}

path.text {
    font-size: 8px;
    color: #adff2f;
}

/*********************/
.parent-node-stroke {
    stroke : grey;stroke-width:4px;
}

.heading1parent {
    fill: yellow;
    .parent-node-stroke;
}

.heading1child {
    fill: green;
}

.heading2parent {
    fill: #D8DFE8;
    .parent-node-stroke;
}

.heading2child {
    fill: green;
}

.heading3parent {
    fill: #E8F5C4;
    .parent-node-stroke;
}

.heading3child {
    fill: green;
}

.heading4parent {
    fill: aqua;
    .parent-node-stroke;
}

.heading4child {
    fill: red;
}

.heading5parent {
    fill: #F5D7C4;
    .parent-node-stroke;
}

.heading5child {
    fill: turqoise;
}

.heading6parent {
    fill: #fff;
    .parent-node-stroke;
}

.heading6child {
    fill: blue;
}

.linkText {
    font-size: 10px;
    fill: #52344A;
    .font-family-humorSans;
}

.pathText {
    color: red;
    .font-family-humorSans;
}

.nodeText {
    fill: #52344A;
    font-size: 10px;
    .font-family-xkcd;
    font-weight: bold;
}


