.rounded-bottom-corners_by_param(@topLeft, @topRight, @bottomLeft, @bottomRight) {
    -webkit-border-radius: @topLeft @topRight @bottomRight @bottomLeft;
    -moz-border-radius: @topLeft @topRight @bottomRight @bottomLeft;
    border-radius: @topLeft @topRight @bottomRight @bottomLeft;
}