@body-color:#BCC6CF;
@preview-bg-color:#f5f5f5;
@vido-grid-bg-color:#f5f5f5;
@footer-height : 5em;
@ace_text_area_padding : 0px; /*Used if the cursor dow not align right */
@top-editor-height:0px;
/*@body-color:#F1F9F7;*/

