<div id="preview" class="shadowbox editorial_settings" style="display: none; height: 782px; ">
    <h1>This is my awesome $$jawdropping Asia trip$$ in december</h1>

    <h2>$$Taiwan leg holla holla @@hectic part@@ ^^Family affair^^</h2>

    <h3>Taipei</h3>

    <h4>Night market</h4>

    <h4>Wedding</h4>

    <h3>Taroka gorge</h3>

    <h2>Thailand leg @@relaxing part@@ ^^time management^^</h2>

    <h3>Bangkok</h3>

    <h4>Leisure activities</h4>

    <blockquote>
        <p>(http://www.bangkok.com/top10-short-tours.htm)
            (http://www.tripadvisor.com/Attractions-g293916-Activities-Bangkok.html)</p>
    </blockquote>

    <p>Here is how you embed images
        <a href="http://google.com.au/"><img src="http://www.google.com.au/images/nav_logo7.png" alt="__Foo__ bar thing" title=""></a></p>

    <h4>Temples</h4>

    <p>1.Wat Arun</p>

    <p>2.Wat Pho</p>

    <p>3.Wat Saket</p>

    <p>4.Wat Traimit</p>

    <h4>Other</h4>

    <p>1.Floating market</p>

    <p>2.Food tasting</p>

    <p>3.Massage</p>

    <p>4.Checkout museum</p>

    <p>5.Checkout architecture</p>

    <h4>Beaches and water activities</h4>

    <p>1.Hua Hin Beach
        -Water activities</p>

    <p>2.<a href="http://www.tripadvisor.co.uk/Attraction_Review-g293918-d450829-Reviews-Angthong_National_Marine_Park-Koh_Samui_Surat_Thani_Province.html">Ang Thong</a>
        (2 hrs from Bangkok)</p>

    <ol>
        <li>Pattaya</li>
    </ol>

    <h3>Chiang Mai</h3>

    <h4>Leisure activities</h4>

    <p>1.Cooking class</p>

    <p>2.Elephant rides</p>

    <p>3.Culture/temples</p>

    <p>4.Massage / Spa</p>

    <h4>Outdoor activities - National parks  / Jungle trekking</h4>

    <p>1.<strong>Doi Inthanon National Park</strong> around a hour from Chiang Mai (Mae Ya waterfall)</p>

    <blockquote>
        <p>(http://www.thailanddiscounthotel.com/guide/hiking-in-thailands-national-parks-treasures-of-chiang-mai.php)
            (http://www.tripadvisor.com/Attraction_Review-g293917-d455307-Reviews-Doi_Inthananon-Chiang_Mai.html)</p>
    </blockquote>

    <p>*Can get accomodation in the national park</p>

    <p>2.<strong>Doi Luang Chiang Dao</strong> (around 3 hrours from Chiang Mai) is a limestone mountain in the Chiang Dao Wildlife Reserve area,</p>

    <blockquote>
        <p>(http://www.7thaiwonders.com/doi-luang-chiang-dao.html)</p>
    </blockquote>

    <h3>South Thailand</h3>

    <h4>Locations</h4>

    <h5>Koh Phi Phi</h5>

    <ul>
        <li>Too crowded</li>
        <li>Beautiful</li>
    </ul>

    <h5>Ko Samui</h5>

    <ul>
        <li>Accessible by direct flight from Chiang Mai</li>
        <li>Very crowded</li>
        <li>Some of the best beaches</li>
    </ul>

    <h5>Phuket</h5>

    <ul>
        <li>Quite large.  Some beaches are too commercial and crowded while others are not</li>
    </ul>

    <h5>Krabi</h5>

<pre><code>1.Beach    http://www.lonelyplanet.com/thorntree/thread.jspa?threadID=1913773
    1.[Railay Beach](http://gothailand.about.com/od/topdestinations/p/raileybeach.htm)
    - Lots of activities available
    2. Ao Nang
</code></pre>

    <h5>Ko Chang</h5>

    <ul>
        <li>Doesnt seem very promising</li>
        <li>On eastern side of thailand and too far away</li>
    </ul>

    <h4>Seaside resort</h4>

    <h5>Just beaches</h5>

    <h4>Beaches with national parks</h4>

    <blockquote>
        <p><a href="http://gothailand.about.com/od/whattoseedo/tp/Thailands-Beach-National-Parks.htm">http://gothailand.about.com/od/whattoseedo/tp/Thailands-Beach-National-Parks.htm</a>
            http://gothailand.about.com/od/topbeachdestinations/tp/topfiveotherbeaches.htm
            <a href="http://www.thailandbeachvillas.com/information-details.php?title=hua%20hin%20beach%20and%20water%20sports">http://www.thailandbeachvillas.com/information-details.php?title=hua%20hin%20beach%20and%20water%20sports</a>
            http://gothailand.about.com/od/topdestinations/tp/toptenbeaches.htm</p>
    </blockquote>

    <h2>India</h2>

    <h3>New Delhi</h3>

    <h3>Bangalore</h3>

    <h3>Mysore</h3>

    <h3>Mangalore</h3>

    <h3>Kerala</h3></div>