/*!
 * author : Venu
 * Date : 1/5/2013
 * Contains the styles for the mind maps
 */


/*
.heading1parent {
    fill: yellow;
}
.heading1child {
    fill: green;
}

.heading2parent {
    fill: #D8DFE8;
}
.heading2child {
    fill: green;
}

.heading3parent {
    fill: #E8F5C4;
}
.heading3child {
    fill: green;
}

.heading4parent {
    fill: aqua;
}
.heading4child {
    fill: red;
}

.heading5parent {
    fill: #F5D7C4;
}
.heading5child {
    fill: turqoise;
}

.heading6parent {
    fill: #fff;
}
.heading6child {
    fill: blue";
}

.linkText {
    font-size: 10px;
    fill: #52344A;

}

.nodeText {
    font-size: 10px;
    fill: #52344A;

}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

*/