/****IN application.less *******/
/*******Define all constants on top *****/
/*Used if the cursor dow not align right */
/*@body-color:#F1F9F7;*/
/***************** The search button for onfocus/off focus *******/
.header-Margin-Vertical {
  margin: 5px 0px 5px 0px;
  padding: 0px 10px 0px 0px;
}
.navbar {
  background-color: #bcc6cf;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  padding: 5px 0px 0px 0px;
}
.navbar .navbar-inner {
  background-color: transparent;
  background-image: none;
}
.navbar .navbar-inner .navbar-margin {
  margin-right: 25px;
}
.navbar-search .search-query {
  padding-left: 29px;
  display: none;
  /**hide it for now**/

}
.navbar-search .icon-search {
  position: absolute;
  top: 7px;
  left: 11px;
  background-image: url("/img/glyphicons-halflings-white.png");
  margin: 5px 0px 5px 0px;
  padding: 0px 10px 0px 0px;
  display: none;
}
.search-query:focus + .icon-search {
  background-image: url("/img/glyphicons-halflings.png");
  display: none;
}
.headerButtons {
  display: inline-block;
  margin: 5px 0px 5px 0px;
  padding: 0px 10px 0px 0px;
  margin-left: 25px;
}
.headerLineItems {
  padding-left: 1em;
}
/*
#header-doc-options {
    .header-Margin-Vertical;
    display: inline-block;
    margin-left: 11px;
}
*/
#acedropdown {
  display: inline-block;
  margin: 5px 0px 5px 0px;
  padding: 0px 10px 0px 0px;
}
.docButton {
  display: inline;
  position: relative;
  z-index: 999;
}
.docButton:hover {
  color: #b00 !important;
  text-shadow: 0 0 1px rgba(255, 0, 0, 0.45) !important;
}
#search_text {
  padding-right: 25px;
}
#downloadify {
  float: right;
}
.editorPreview {
  clear: both;
}
.editorial_settings {
  overflow: auto;
}
.previewSettings {
  background-color: #f5f5f5;
  display: inline-block;
  float: left;
  padding: 0px 10px 0px 10px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  overflow: auto;
  margin: 0px 12px 0px 11px;
  width: 100%;
}
.preview_panel_settings {
  overflow: auto;
}
#editor1 {
  width: 100%;
  margin: 0px 0px 0px 0px;
}
#preview {
  background-color: #f5f5f5;
  display: inline-block;
  float: left;
  padding: 0px 10px 0px 10px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin: 0px 12px 0px 11px;
  width: 100%;
  overflow: auto;
}
#previewWithMindMap {
  background-color: #f5f5f5;
  display: inline-block;
  float: left;
  padding: 0px 10px 0px 10px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin: 0px 12px 0px 11px;
  width: 100%;
  overflow: auto;
}
/*
#editor{
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;

    .ace_gutter {
        .rounded-bottom-corners_by_param(3px, 0px, 3px, 0px);
    }
    .ace_sb {
        display: none;
    }
    .ace_content {
        .rounded-bottom-corners_by_param(3px, 0px, 3px, 0px);
    }
    .ace_scroller {
        padding-left: @ace_text_area_padding;
        .rounded-bottom-corners_by_param(0px, 3px, 0px, 3px);
    }
    .ace_print_margin_later {
        display: none;
    }
}
*/
/***Something goes here ****/
/******Sample from http://bl.ocks.org/1249394 ****/
@font-face {
  font-family: "minmapFonts";
  src: url('font/webFonts/English.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HumorSans";
  src: url('../font/webFonts/Humor-Sans.ttf');
}
@font-face {
  font-family: "xkcd-font";
  src: url('../font/webFonts/xkcd.ttf');
}
.font-family-EnglishMM {
  font-family: 'minmapFonts', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.font-family-xkcd {
  font-family: 'xkcd-font', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.font-family-humorSans {
  font-family: 'HumorSans', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
text {
  font-size: 12px;
}
path.link {
  fill: none;
  stroke: sandybrown;
  stroke-width: 1.5px;
}
path.text {
  font-size: 8px;
  color: #adff2f;
}
/*********************/
.parent-node-stroke {
  stroke: grey;
  stroke-width: 4px;
}
.heading1parent {
  fill: yellow;
  stroke: grey;
  stroke-width: 4px;
}
.heading1child {
  fill: green;
}
.heading2parent {
  fill: #D8DFE8;
  stroke: grey;
  stroke-width: 4px;
}
.heading2child {
  fill: green;
}
.heading3parent {
  fill: #E8F5C4;
  stroke: grey;
  stroke-width: 4px;
}
.heading3child {
  fill: green;
}
.heading4parent {
  fill: aqua;
  stroke: grey;
  stroke-width: 4px;
}
.heading4child {
  fill: red;
}
.heading5parent {
  fill: #F5D7C4;
  stroke: grey;
  stroke-width: 4px;
}
.heading5child {
  fill: turqoise;
}
.heading6parent {
  fill: #fff;
  stroke: grey;
  stroke-width: 4px;
}
.heading6child {
  fill: blue;
}
.linkText {
  font-size: 10px;
  fill: #52344A;
  font-family: 'HumorSans', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.pathText {
  color: red;
  font-family: 'HumorSans', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.nodeText {
  fill: #52344A;
  font-size: 10px;
  font-family: 'xkcd-font', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
}
#footer {
  bottom: 0;
  height: 5em;
  position: relative;
  vertical-align: center;
}
#footer .inline-list {
  color: white;
  font-size: 75%;
  list-style: none;
}
#footer .inline-list .inline-list-item {
  float: left;
  margin: 1em 1em 1em 1em;
}
.body {
  background-color: #bcc6cf;
  margin: 0;
  padding: 10;
  overflow: hidden;
}
html {
  margin: 0;
  padding: 0;
}
pre {
  background-color: none;
  padding: 0px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
/************Delete later? Depending on the layout view ***************/
.thumb-dribble {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 1em 1em 2em 1em;
}
.thumb {
  float: left;
  margin: 0.8em 0.8em 0.8em 0.8em;
}
