<div class="modal" id="fileOpenModal" tabindex="-1" role="dialog"
     aria-labelledby="fileOpenModalLabel" aria-hidden="true"
        >
    <div class="modal-dialog">    
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" ng-submit="submit()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="fileOpenModalLabel">Open file</h3>
                </div>
                <div class="modal-body" ng-controller="fileuploadCtrl">
                    <!-- filename to display to the user -->
                    <p id="file-name" class="margin-10 bold-10"></p>
                    <!-- Hide this from the users view with css display:none; -->

                    <div><img src="img/fileUpload.png"/></div>
                    <input type="file" id="files" name="files[]" multiple style="display:none" type="file" size="4" />

                    <div ng-controller="fileuploadCtrl">
                        <fileupload></fileupload>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="fileOpenBtnClose" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button id="fileOpenBtn" class="btn btn-primary"  type="file" >Choose file</button>
                </div>
            </form>
        </div>            
    </div>    
</div>