<div id="footer">
    <div class="container">
        <!--<p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>-->
        <ul class="inline-list offset5">
            <!--<li class="inline-list-item"><a href="/about">About</a></li>
            <li class="inline-list-item"><a href="/help">Help</a></li>
            <li class="inline-list-item"><a href="/privacy">Privacy</a></li>
            <li class="inline-list-item"><a href="/contactus">Contact Us</a></li>-->
            <li class="inline-list-item"><span class="copyright">&copy; Memnote 2013 - </span></li>
        </ul>
    </div>
</div>

