<header class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./" class="navbar-brand">Memnote</a>
    </div>
    <nav class="navbar-collapse bs-navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right headerButtons">
        <li class="headerLineItems">
             <div id="filePickOptions" class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="File Options">
                    <i class="icon-file icon-white"></i>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li id="fileNew"><a><i class="icon-edit icon-white"></i> New</a></li>
                    <li>
                        <a id="fileOpenBtndd" href="#fileOpenModal" role="button" data-toggle="modal">
                            <i class="icon-folder-open  icon-white"></i>Open</a>
                    </li>
                    <li><a id="fileSave"><i class="icon-download  icon-white"></i> Save</a></li>

                </ul>
          </div>
        </li>
         <li class="headerLineItems">
          <div id="header-doc-options" class="btn-group">  
                <button id="editMode" class="btn docButton" title="Edit"><i class="icon-pencil"></i></button>
                <button id="previewMode" class="btn docButton" title="Preview"><i class="icon-eye-open"></i></button>
            </div>
        </li>
        <li  class="hidden-xs headerLineItems">
            <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="File Options 2">
                    Editor theme
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu editorThemeDropDown">
                    <li><a theme="ace/theme/chrome">Chrome</a></li>
                    <li><a theme="ace/theme/clouds">Clouds</a></li>
                    <li><a theme="ace/theme/clouds_midnight">Clouds Midnight</a></li>
                    <li><a theme="ace/theme/cobalt">Cobalt</a></li>
                    <li><a theme="ace/theme/crimson_editor">Crimson Editor</a></li>
                    <li><a theme="ace/theme/dawn">Dawn</a></li>
                    <li><a theme="ace/theme/dreamweaver">Dream Weaver</a></li>
                    <li><a theme="ace/theme/eclipse">Eclipse</a></li>
                    <li><a theme="ace/theme/github">Github</a></li>
                    <li><a theme="ace/theme/idle_fingers">idleFingers</a></li>
                    <li><a theme="ace/theme/merbivore">Merbivore</a></li>
                    <li><a theme="ace/theme/merbivore_soft">Merbivore Soft</a></li>
                    <li><a theme="ace/theme/mono_industrial">Mono Industrial</a></li>
                    <li><a theme="ace/theme/monokai">Monokai</a></li>
                    <li><a theme="ace/theme/pastel_on_dark">Pastel on dark</a></li>
                    <li><a theme="ace/theme/solarized_dark">Solarized Dark</a></li>
                    <li><a theme="ace/theme/solarized_light">Solarized Light</a></li>
                    <li><a theme="ace/theme/textmate">TextMate</a></li>
                    <li><a theme="ace/theme/tomorrow">Tomorrow</a></li>
                    <li><a theme="ace/theme/tomorrow_night">Tomorrow Night</a></li>
                    <li><a theme="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</a></li>
                    <li><a theme="ace/theme/tomorrow_night_bright">Tomorrow Night Bright</a></li>
                    <li><a theme="ace/theme/tomorrow_night_eighties">Tomorrow Night 80s</a></li>
                    <li><a theme="ace/theme/twilight">Twilight</a></li>
                    <li><a theme="ace/theme/vibrant_ink">Vibrant Ink</a></li>
                </ul>
            </div>    
        </li>    
       
        <li class="hidden-xs headerLineItems">
            <button id="startTour" type="button" class="btn btn-success">Start Tour</button>
        </li>
       
        

        <!-- <li>
          <div class="btn-group">  
          <select id="acedropdown" class="dropdown">
                <option value="ace/theme/chrome" selected="true">Chrome</option>
                <option value="ace/theme/clouds">Clouds</option>
                <option value="ace/theme/clouds_midnight">Clouds Midnight</option>
                <option value="ace/theme/cobalt">Cobalt</option>
                <option value="ace/theme/crimson_editor">Crimson Editor</option>
                <option value="ace/theme/dawn">Dawn</option>
                <option value="ace/theme/dreamweaver">Dream Weaver</option>
                <option value="ace/theme/eclipse">Eclipse</option>
                <option value="ace/theme/github">Github</option>
                <option value="ace/theme/idle_fingers">idleFingers</option>
                <option value="ace/theme/merbivore">Merbivore</option>
                <option value="ace/theme/merbivore_soft">Merbivore Soft</option>
                <option value="ace/theme/mono_industrial">Mono Industrial</option>
                <option value="ace/theme/monokai">Monokai</option>
                <option value="ace/theme/pastel_on_dark">Pastel on dark</option>
                <option value="ace/theme/solarized_dark">Solarized Dark</option>
                <option value="ace/theme/solarized_light">Solarized Light</option>
                <option value="ace/theme/textmate">TextMate</option>
                <option value="ace/theme/tomorrow">Tomorrow</option>
                <option value="ace/theme/tomorrow_night">Tomorrow Night</option>
                <option value="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</option>
                <option value="ace/theme/tomorrow_night_bright">Tomorrow Night Bright</option>
                <option value="ace/theme/tomorrow_night_eighties">Tomorrow Night 80s</option>
                <option value="ace/theme/twilight">Twilight</option>
                <option value="ace/theme/vibrant_ink">Vibrant Ink</option>
            </select>
        </div>
        </li> -->
        
        
      </ul>
    </nav>
  
</header>